nav(class="green")
  .nav-wrapper 
    ul(id="nav-mobile", class="left")
      a(href="/") Home
    ul(id="nav-mobile", class="left")
      a(href="/") Home
    ul(id="nav-mobile", class="left")
      a(href="/") Home
    a(class="brand-logo center") Ticket Service
