nav(class="green")
  .nav-wrapper 
    ul(id="nav-mobile", class="left")
      a(href="/") На главную
    if (!auth)
      ul(id="nav-mobile", class="left")
        a(href="/editor_users") Пользователи
    if (!auth)
      ul(id="nav-mobile", class="left")
        a(href="/editor_transport") Транспорт
    if (!auth)
      ul(id="nav-mobile", class="left")
        a(href="/editor_points") Города
    if (!auth)    
      ul(id="nav-mobile", class="left")
        a(href="/editor_routes") Маршруты
    if (!auth)    
      ul(id="nav-mobile", class="right")
        a(href="/quit") Выход
    ul(id="nav-mobile", class="right")
      a(href="/order") Покупка билетов
    a(class="brand-logo center") Ticket Service
