include ./head.pug
include ./header.pug
nav(class="purple")
  .nav-wrapper 
    a(class="brand-logo left") Welcome to Ticket Servive!

.center(style="margin-top:20px;")
  h4 Вы вошли как
  h5 #{user.fio}##{user.login}