html,
body {
  margin: 0;
  height: 100%;
}

.page {
  background-color: rgb(219, 219, 219);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.route_table {
  padding: 5px;
}

.route_table table {
  align-self: stretch;
  width: 100%;
  align-items: center;
  border: 1px solid black;
  background: black;
}

.route_table thead {
  text-align: center;
  font-style: bold;
  background-color: rgb(230, 230, 230);
}
.route_table td {
  text-align: center;
  font-style: bold;
  background-color: white;
}

header {
  margin: 0;
  border-radius: 0px 0px 12px 12px;
  border-width: 3px;
  background-color: rgb(62, 63, 65);
  text-align: center;
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  color: dodgerblue;
}
